* {
    padding: 0;
    margin: 0;
}

.container {
    width: 1100px;
    margin: auto;
}


/* ini css header*/

header {
    height: 125px;
    background: #cf0e0e;
    overflow: hidden;
}

header .kiri img {
    width: 150px;
    height: 100px;
    margin: 15px 0 0 35px;
    float: left;
}

header .kanan {
    float: left;
    font-size: 20px;
    color: white;
    margin-top: 15px;
    margin-left: 80px;
}

article {
    overflow: hidden;
}

article h1 {
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    font-size: 30px;
    font-family: gambria;
}

arcicle p {
    text-align: justtify;
    margin-bottom: 5px;
}

article .kiri {
    width: 300px;
    float: left;
}

article .kiri img {
    width: 300px;
    float: left;
}

article .kiritengah h1 {
    color: #fff;
}

article .kiri .kiritengah img {
    width: 10px;
    height: 20;
    padding-right: 20px;
}

article .kiri .kiritengah img:hover {
    width: 50px;
}

article .kanan {
    width: 650px;
    float: right;
}

article .kanan .atas img {
    width: 650px;
    height: 340px;
}

article .kanan .atas p {
    margin-top: 20px;
}

article .kanan .bawah {
    overflow: hidden;
    margin-top: 45px;
}

article .kanan .bawah .kiribawah {
    width: 315px;
    float: left;
    border-left: 4px solid rgb(255, 0, 43);
}

article .kanan .bawah .kananbawah {
    width: 315px;
    float: right;
    border-left: 4px solid rgb(255, 0, 43);
}

article .kanan .bawah .kananbawah img {
    width: 35px;
    margin-left: 12px;
}

article .kanan .bawah h1,
p {
    margin-left: 12px;
}

article .kanan1 {
    float: left;
    width: 180px;
    margin-left: 10px;
}

article .kanan1 img {
    width: 70px;
    height: 100px;
    float: left;
    margin-right: 15px;
}

article .kanan2 {
    float: right;
    width: 200px;
}

article .kanan2 img {
    width: 70px;
    height: 100px;
    float: left;
    margin-right: 15px;
}

article .kanan3 {
    float: left;
    width: 200px;
    margin-left: 25px;
}

article .kanan3 img {
    width: 70px;
    height: 100px;
    float: left;
    margin-right: 15px;
}

article .tour {
    margin-top: 50px;
}

article .bawah1 {
    float: left;
    width: 200px;
    margin-right: 55px;
}

article .bawah1 img {
    width: 70px;
    height: 100px;
    float: left;
    margin-right: 15px;
}

article .bawah2 {
    float: right;
    width: 300px;
}

article .bawah2 img {
    width: 70px;
    height: 100px;
    float: left;
    margin-right: 15px;
}

article .bawah3 {
    float: left;
    width: 200px;
    margin-left: 15px;
}

article .bawah3 img {
    width: 70px;
    height: 100px;
    float: left;
    margin-right: 15px;
}

article .bawah4 {
    float: left;
    width: 200px;
    margin-left: 85px;
}

article .bawah4 img {
    width: 90px;
    height: 100px;
    float: left;
    margin-right: 15px;
}

.bawahbawah {
    width: 300px;
    float: left;
}

.bawahbawah {
    background-color: rgb(255, 0, 0);
    padding: 10px;
    margin-top: 480px;
    color: black;
    width: 300px;
    height: 80px;
    position: fixed;
    top: 0px;
    margin-left: 900px;
}

footer {
    color: #ff0000;
    text-align: center;
    font-size: 15px;
    color: rgb(255, 0, 0);
}

footer a {
    color: #ff0000;
}